@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');




body {
  background-color: #82869D;
  font-family: 'Josefin Sans', sans-serif;
}

#logo {
  width: 100px;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F7FC;
  border-radius: 30px;
  height: 50vh;
  width: 40%;
}

.content--result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  /* background-color: red; */
  color: #505050;
  height: 30vh;
  width: 100%;
}

.content--result > h1,h2 {
  margin-right: 20px;
}

.content--result > h1 {
  text-align: right;
  font-size: 50px;
  background-color: #F6F7FC;
  border: none;
  color: #505050;
}


/* .content--result > h2 {
  font-size: 25px;
} */

.content--numbers {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(1,0.9fr); */
  align-items:flex-end;
  height: 70%;
  width: 100%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.footer {
  display: flex;
  align-items:flex-end;
  height: 10vh;
  margin-left: 10px
}

.prevNumbers {
  font-size: 20px;
  
}